@import _base

*
  padding: 0
  margin: 0

html body
  font-family: Helvetica, Verdana, Arial, sans-serif
  color: $fcolor
  font-size: 1em
  margin: 0
  padding: 0

  ul,
  li
    list-style: none
    font-size: 0.95em

  ul.nav
    margin: 0
    padding: 0
    font-size: 0.95em

  #wrapper
    background-color: $white
    box-shadow: 0 0 10px $black
    margin-bottom: 20px
    position: relative
    border-radius: 0 0 8px 8px

  #headerSlots
    background-color: $white
    color: $fcolor


  /** End Header here **/

  #footer
    border-radius: 0 0 8px 8px

  /** Main content **/
