@import _base

html
  body

    #header-2
      .linkList
        +clearfix

    #footer
      overflow: hidden

      .footerSocialLinks
        ul
          li
            float: left
            a:link,
            a:visited,
            a:hover,
            a:active
              width: 20px
              height: 20px
              color: transparent !important
              display: inline-block

            &.pinterest
              a
                background: url('/media/Site Files/Merchandising Files/pinterest20x20.jpg') no-repeat center center
            &.facebook
              a
                background: url('/media/Site Files/Merchandising Files/facebook20x20.png') no-repeat center center
            &.twitter
              a
                background: url('/media/Site Files/Merchandising Files/twitter20x20.png') no-repeat center center

      #footer-9,
      #footer-10
        position: absolute
        bottom: 0
        right: 0
        font-size: 0.65em

      #footer-10 img
        filter: grayscale(100%)
        -webkit-filter: grayscale(100%)
        width: 56px
        height: 20px

      #footer-10 img:hover
        filter: grayscale(0)
        -webkit-filter: grayscale(0)
